* {
    box-sizing: border-box;
    font-family: 'Poppins';
    padding: 0;
    margin: 0;
}
body {
    background-color: #f7f7f7;
    padding: 0;
    margin: 0;
}
#container {
    margin: 0 auto;
    width: 720px;
    /* A modifier pour le responsive */
}
.header-main {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 6% 4%;
}
header img {
    height: 30px;
    margin-right: 3%;
    margin-left: 1%;
}
.pokemon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
    max-width: 720px;
    margin: 0 auto;
}
.pokemon-item {
    width: 31%;
    height: auto;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
}
.card {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card p:first-child {
    text-align: end;
    padding: 2% 4% 0 0;
    color: #666666;   
}
.card p:last-child {
    color: #FFFFFF;
    font-weight: 400;
    text-align: center;
    text-transform: capitalize;
    background-color: #666666;
    border-radius: 0 0 10px 10px;
    line-height: 2em;
}
.img-container {
    align-self: center;
}
a {
    text-decoration: none;
}
/* Modale */
.modal {
    display: none; /* Cachée par défaut */
    position: fixed;
    z-index: 1; /* Afficher au premier plan */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content{
    background-color: #b8b8b8;
    max-width: 80%;
    max-height: 90%;
    margin: 7% auto;
    padding: 1%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.modal-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #FFFFFF;
    padding: 5% 4%;
}
.modal-header h2 {
    text-transform: capitalize;
}
.modal-body{
    overflow-y: auto;
    background-color: #F7F7F7;
    width: 100%;
    height: 65%;
    justify-self: flex-end;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-img {
    box-sizing: content-box;
    position: relative;
    top: 40px;
}
.modal-img img {
    height: auto;
    width: auto;
}
.type {
    display: flex;
    justify-content: space-between;
    width: 25%;
}
.type p {
    margin-top: 7em;
    padding: 1%;
    background-color: #212121;
    color: #E0E0E0;
    border-radius: 15px;
    width: 70px;
    text-align: center;
}
.modal-body > p {
    margin: 1em 0;
    font-size: 1.2em;
    color: #666666;
    font-weight: 700;
}
.skills {
    display: flex;
    justify-content: center;
    width: 100%;
}
.skills div {
    width: 33%;
    margin: 0 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skills div:nth-of-type(2) {
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.description {
    width: 90%;
    margin: 5%;
}
.stats {
    width: 90%;
}
/* Les boutons de fermeture des modales */
.close {
    color: #aaa;
}
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}